.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  background-color: #d7d7d7;
  padding: 4px 0.5em;
  margin: 0 4px;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre;
  border-radius: 8px;
  font-size: 85%;
}
.Message-content pre{
  margin: 0;
}
.Message-content pre>code {
  background-color: #d7d7d7;
  padding: 1em;
  display: block;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre;
  border: 1px solid #d1d0d0;
}